<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="Posts">Post</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="NewPost">Nouveau Post</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<div class="row">
  <div class="col-xs-6">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
